
/* ---------- Super Replay ---------- */

.super-replay .episode {
    margin-bottom: 0;
    border-radius: 1em 1em 0 0;
    border-bottom: none;
}

.super-replay-total-episodes { padding: .4em 1em; }

/* ---------- Super Replay Episode List ---------- */

.super-replay-episode-list-container {
    border-right: 2px solid var(--main-bg-color);
    border-left: 2px solid var(--main-bg-color);
}

.super-replay-episode-list-header {
    background-image: linear-gradient(to bottom, var(--main-bg-hover-color) 5%, var(--main-bg-color) 80%);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
.super-replay-episode-list-header h3 {
    margin: 0;
    padding: .5em 1.5em;
    text-align: center;
}

.super-replay-episode-list-button-container {
    display: flex;
    justify-content: space-between;
}

.super-replay-episode-list-button-container > button {
    width: 10%;
    border-radius: 0;
}
.super-replay-episode-list-button-container .prev-scroll-button { }
.super-replay-episode-list-button-container .next-scroll-button { }

.super-replay-episode-list {
    /*width: 80%;*/
    display: flex;
    /*justify-content: space-around;*/
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.super-replay-episode-number {
    background-image: linear-gradient(to bottom, var(--main-bg-hover-color) 5%, var(--main-bg-color) 80%);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 1em;
    margin: 0 1em;
    flex: 0 0 auto;
}
.super-replay-episode-number:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #76daff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

/* ---------- Super Replay Episode ---------- */

.super-replay-episode.episode {
    margin-top: 0;
    border: 2px solid var(--main-bg-color);
    border-radius: 0 0 1em 1em;
    border-top: none;
}

.super-replay-episode .episode-details { /*padding: 0 1em;*/ }

.super-replay-episode .episode-header { width: 100%; }
.super-replay-episode .episode-header h3 { }

.super-replay-episode .episode-airdate,
.super-replay-episode .gi-crew > *,
.super-replay-episode .segments > *,
.super-replay-episode .views-likes-container {
    /*padding: .4em 1.5em;*/
}