/* ---------------------------------------------------- */
/* ---------- General Page Styles ---------- */
/* ---------------------------------------------------- */
/* 
What's the font used for Game Informer logo?

The closest font we can find for Game Informer logo is Softrobo Pro, which is a geometric sans serif font designed by Aliaksei Koval and published by Koval TF.

Sources & Links:
Softrobo Pro Font on myfonts.com
Softrobo Pro Font on fonts.com

*/

/* Varbiables */
:root {
    --main-text-color: #f6f6f6; /* nearly pure white */
    --main-bg-color: #0077a2; /* gi blue */
    --main-bg-select-color: hsl(196, 100%, 15%); /* dark gi blue */
    --second-text-color: #0077a2; /* gi blue */
    --second-bg-color: #f6f6f6; /* nearly pure white */
    --third-text-color: #3a3a3a; /* nearly pure black */
    --third-bg-color: #f6f6f6; /* nearly pure white */

    background-color: var(--main-bg-color);
    background-image: url("/images/replay_bg_gi_blue.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, Arial, sans-serif; /* Helvetica */
    font-size: 16px; /* 100%, 10px */
    /*
    Avoid problems with adjusted text size in older browser versions 
    when using em/rem units for font-size in other html elements 
    (1em/rem = 16px depending on parent element(em) or root element(rem)
    size font
    */
    line-height: 1.2;
    background-color: var(--main-bg-color);
}

body {
    background-color: var(--second-bg-color);
    color: var(--second-text-color);
    max-width: 800px;
    width: 88%;
    margin: 0 auto; /* default: 8px */
    margin-top: 0;
}

/* Set default values for margin, padding, font-size */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: .83em;
    margin: 1.67em 0;
}

h6 {
    font-size: .67em;
    margin: 2.33em 0;
}

ol {
    margin: 1em 0;
    padding-left: 40px;
}

p { margin: 1em 0; }

ul {
    margin: 1em 0;
    padding-left: 40px;
}

h1, h2, footer { text-align: center; }

/* ---------- Header ---------- */

header {
    background-image: url("/images/Game_Informer_logo_(2010-present).png");
    background-color: var(--second-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    padding-top: 18.29%;
}

header + img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 0; /* prevent IE9 (and earlier) from displaying a border around the edges */
}

/* Hide h1 inside header but still accessible for readers */
header h1 { display: none; }

/* ---------- Footer ---------- */

/* ---------- Top Nav ---------- */
#topnav {
    text-align: center; /* center inline elements */
    background-color: var(--main-bg-color);
}
/* Style the top navigation bar, unordered list */
#topnav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0; /* remove default padding for ul elements */
    margin: 0; /* remove default margin for ul elements */
    font-size: 0; /* to prevent space between inline-block elements in li element;
        Can also remove the closing </li> tags instead. Which is better? */
}
/* Style the top navigation list element */
#topnav ul li {
    display: inline; /* center links in combination with text-align: center; */
}
/* Style the top navigation links */
#topnav li a {
    display: inline-block;
    font-size: 1rem; /* 16px: reset font-size after setting to zero in #topnav ul {} to
        prevent space between inline-block elements */
    padding: 0.875em 1em; /* 14px 16px (1em=16px) */
    text-decoration: none;
    color: var(--main-text-color);
}
/* Set color on default link and active pseudo-classes */
#topnav a:link, #topnav a:visited {

}
/* Change the color on hover */
#topnav a:hover, #topnav a:active {
    background-color: var(--main-bg-select-color);
}

/* ---------- Side Nav ---------- */
#sidenav ul { list-style-type: none; }

/* ---------- Main ---------- */
#main { margin: 0 .6em; }

/* ---------- Episode ---------- */
.episode { margin: .6em 0; }

/* Episode Main */

.episodeMain {
    /*
    border-style: solid;
    border-bottom: none;
    border-width: .2em;
    border-radius: 1em 1em 0 0;
    border-color: var(--main-bg-color);
    */
}

/* Episode Header */
.episodeHeader {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 1em;
    border-radius: 1em 1em 0 0;
}

/* Episode Title */
.episodeTitle {
    float: left;
    width: 80%;
    margin: 0;
}

/* Episode Number */
.episodeNumber {
    float: right;
    width: 20%;
    text-align: right;
}

/* Clear-fix */
.episodeHeader::after {
    content: "";
    clear: both;
    display: table;
}

/* Thumbnail */
.thumbnail-container {
    float: left;
    width: 35%;
    margin-right: 1em;
}

/* Clear-fix */
.episodeMain::after {
    content: "";
    clear: both;
    display: table;
}

.episodeThumbnail {
    width: 100%;
    padding-top: 56.25%;
    background-color: #000;
    position: relative;
}

.episodeThumbnail > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Thumnail Image */
.episodeThumbnail img {
    position: static;
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    border: 0; /* prevent IE9 (and earlier) from displaying a border around the edges */
}

/* Play Video Overlay */
.episodeThumbnail .playOverlay {
    position: absolute;
    width: 20%;
    top: 30%;
    left: 40%;
    display: none;
}
.episodeThumbnail:hover .playOverlay {
    display: block;
}
.playOverlay img {
    width: 100%;
    height: auto;
}

/* Clear-fix */
.episodeThumbnail::after {
    content: "";
    clear: both;
    display: table;
}

/* Episode Length */
.episodeLength {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    font-size: .8em;
}

/* Episode Details */

.episodeDetails {
    padding: 0 .6em;
    font-size: .9em;
}
.episodeDetails > * { padding: .5em 0; }

/* Episode More Info (Button to dropdown display) */
.episodeMoreInfo {
    padding: 0 1.5em;
    font-size: .9em;
    border-style: none solid solid solid;
    border-width: .2em;
    border-color: var(--main-bg-color);
    border-radius: 0 0 1em 1em;
}
.episodeMoreInfo h4 {
    text-transform: capitalize;
}

/* Thematic Break hr */
.episode hr {
    border: 0;
    height: 2px;
    /*background-color: var(--main-bg-color);*/
    background-image: linear-gradient(to right, rgba(0,0,0,0), var(--main-bg-color) 20%, var(--main-bg-color) 80%, rgba(0,0,0,0));
    margin: 0 1em;
}
/*
.episode > hr {
    border: 0;
    height: .8em;
    box-shadow: inset 0 .8em .8em -.8em var(--main-bg-color);
    background-image: none;
}*/

/* ------------------------------------ */
/* ---------- YouTube Player ---------- */
/* ------------------------------------ */

#videoPlayer {
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    border: 5px solid black;
    z-index: 100;
}
#videoPlayer .iframeWrapper {
    position: relative;
    width: 100%;
    height: calc(56.25vw);
    max-height: calc(-169px + 100vh);
    min-height: 480px;
    padding-top: 56.25%;
    margin: 0 auto;
    background: #000;
}
#videoPlayer .iframeWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* --------------------------------- */
/* ---------- Filter Form ---------- */
/* --------------------------------- */

#filterForm > fieldset { 
    display: inline-block;
    text-align: center;
    padding: 0 .3em;
}

#filterForm label {
    display: block;
}

#filterForm > fieldset > div > label {
}

/* -------------------------- */
/* ---------- Sort ---------- */
/* -------------------------- */

#sort > * {
}

#sort::after {
    content: "";
    clear: both;
    display: table;
}

/* ----------------------------------------- */
/* ---------- Jump To Top of Page ---------- */
/* ----------------------------------------- */

#jump-top-page-container {
    position: fixed;
    right: .5em;
    bottom: .5em;
}
#jump-top-page-container > a {
    display: block;
    background-color: var(--second-bg-color);
    border-radius: 50%;
}
#jump-top-page-container > a > i {
    color: var(--second-text-color);
    font-size: 2em;
    padding: .05em .1em;
}

/* ------------------------------- */
/* ---------- Dark Mode ---------- */
/* ------------------------------- */
/*
@media (prefers-color-scheme: dark) {
    :root {
        
    }
}
*/
/* ----------------------------------------------- */
/* ---------- Dark Mode - Toggle Switch ---------- */
/* ----------------------------------------------- */

[data-theme="dark"] {
    --main-text-color: hsl(0, 0%, 90%);
    --main-bg-color: hsl(0, 0%, 30%);
    --main-bg-select-color: hsl(0, 0%, 24%);
    --second-text-color: hsl(0, 0%, 66%);
    --second-bg-color: hsl(0, 0%, 10%);
    --third-bg-color: hsl(0, 0%, 0%);

    background-color: hsl(0, 0%, 20%); 
    background-image: url("/images/replay_bg.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}
[data-theme="dark"] header {
    background-image: url("/images/Game_Informer_logo_(2010-present)(dark_mode).png");
}
[data-theme="dark"] .episodeDetails b {
    color: var(--main-text-color);
}

/* Toggle Switch CSS */

.switch-container {
    display: inline-block;
    color: var(--main-text-color);
}

.switch-container > em { display: block; }

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input { display:none; }

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider { background-color: var(--main-bg-select-color); }
input:checked + .slider:before { transform: translateX(26px); }
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }

/* -------------------------- */
/* ---------- Misc ---------- */
/* -------------------------- */

/* Episode Anchor Links */
.external-links a { color: #1f64e3; }
.external-links a:visited { color: #ff008e; } /* #c10172 */
